<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ page.title|default:'CCGtown &mdash; The CCG Annotation Tool' }}{% if page.title %} | CCGtown{% endif %}
    </title>
    <meta name="author" content="CCGtown">
    <meta name="description" content="{{ page.description|default:'Annotate CCG lexicons on the web browser and then export it as a CCGbank!' }}">
    <link rel="stylesheet" type="text/css" href="https://www.unpkg.com/uikit@3.5.9/dist/css/uikit.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'annotators/css/default.css' %}">
    {%block head %}{% endblock head %}
  </head>
  <body>
    {% block body %}{% endblock body %}
    <script src="https://www.unpkg.com/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://www.unpkg.com/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
  </body>
</html>